@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #d870db;
  border-radius: 30px;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/inicio-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 60px;
}

nav {
  width: 50%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 700px;
}

li {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li:hover {
  color: #d870db;
}

.arrows {
  width: 60px;
  height: 172px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.content-container {
  height: 100vh;
}

.profile-container {
  height: 100%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/apresentação-background.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-content {
  width: 30%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #810b85;
}

.name-text {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.profile-text {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin-top: 5px;
}

.social-media {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.profile-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.profile-button:hover {
  transform: scale(1.2);
}

#facebook {
  background-image: url(./assets/facebook.png);
  background-size: cover;
}

#instagram {
  background-image: url(./assets/instagram.png);
  background-size: cover;
}

#linkedin {
  background-image: url(./assets/linkedin.png);
  background-size: cover;
}

#github {
  background-image: url(./assets/github.png);
  background-size: cover;
}

.divider {
  width: 100%;
  border-top: 0.5px solid #bfbfbf;
  margin-top: 10px;
}

.tecnologies-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h4 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
}

.tecnologies-content {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}

.tecnologies {
  width: 20%;
  height: 100%;
  border-radius: 10px;
}

#java-script {
  background-image: url(./assets/script-java.png);
  background-size: cover;
  background-color: yellow;
}

#react {
  background-image: url(./assets/react.png);
  background-size: cover;
}

#node {
  background-image: url(./assets/node-js.png);
  background-size: cover;
  background-color: #f3f3f3;
}

#mongo {
  background-image: url(./assets/mongo.png);
  background-size: cover;
  background-color: #082532;
}

#git {
  background-image: url(./assets/git.jpg);
  background-size: cover;
  background-color: tomato;
}

#github2 {
  background-image: url(./assets/github2.png);
  background-size: cover;
  background-position-y: 50%;
}

.profile-sinopse {
  width: 430px;
  height: 520px;
  overflow-y: scroll;
  padding: 10px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 17px;
  margin-left: 50px;
  text-align: justify;
  background-color: black;
  border-radius: 8px;
}

.profile-sinopse p {
  margin: 10px;
}

#cv-button {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  padding: 5px;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d870db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#cv-button:hover {
  color: #fff;
}

#profile-h1 {
  color: #d870db;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/projetos-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #fff;
}

.slider {
  width: 1024px;
  height: 576px;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 40px;
}

.slider:hover {
  cursor: pointer;
}

.slides-img {
  width: 5120px;
  display: flex;
}

.projects-img img {
  width: 1024px;
  height: 576px;
  transition: transform 1s ease-in-out;
}

.slides-btn {
  color: #d870db;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.7em;
  margin-top: -5px;
  transition: 0.5s;
}

.slides-btn:hover {
  transform: scale(1.5);
}

.btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.contact-content {
  height: 100%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/contato-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

.inputs {
  width: 96%;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  height: 20px;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

select {
  width: 125px;
  height: 30px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: #333;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
  cursor: pointer;
}

textarea {
  min-width: 378px;
  min-height: 170px;
  max-width: 378px;
  max-height: 170px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  padding: 10px;
}

#send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 125px;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 19px;
  font-family: "Oswald", sans-serif;
  background-color: #d870db;
}

#send-button:hover {
  color: #fff;
}

/*responsividade*/
@media (max-width: 420px) {
  .hero-container {
    justify-content: space-between;
    padding: 10px 30px;
    text-align: center;
    max-width: 100%;
  }

  .menu {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 40px;
  }

  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }

  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: #d870db;
    margin: 5px auto;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .profile-content {
    width: 100%;
  }

  .profile-card {
    border-radius: 0%;
    width: 88%;
    margin-top: 0;
    margin-left: 3px;
  }

  .profile-sinopse {
    margin: 0;
    width: 93%;
  }

  .project-content {
    display: none;
  }

  form {
    width: 85%;
    height: 80%;
  }

  #input-textarea {
    min-width: 95%;
    max-width: 95%;
    min-height: 170px;
    max-height: 170px;
  }

  #send-button {
    margin-left: 100px;
  }

  nav {
    width: 50%;
    position: static;
    transform: none;
    padding: 18px 20px;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 90%;
    height: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    gap: -10px;
    transition: 0.3s;
  }

  .nav-menu.ativo {
    right: 0%;
    z-index: 2;
  }

  li {
    color: #000;
  }

  .tecnologies {
    width: 23%;
    height: 105%;
  }

  .slider {
    width: 340px;
    height: 200px;
  }

  .projects-img img {
    width: 340px;
    height: 200px;
  }

  .projects-description {
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin: 10px;
  }

  .btn-container {
    margin: 20px;
  }

  #btn-back {
    color: #fff;
  }

  #btn-next {
    color: #fff;
  }
}

@media (min-width: 420px) and (max-width: 1024px) {
  .hero-container {
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    max-width: 100%;
  }

  header {
    justify-content: center;
  }

  nav {
    display: flex;
    width: 95%;
    position: fixed;
    margin: auto;
  }

  .menu {
    display: none;
  }

  .slider {
    width: 580px;
    height: 350px;
  }

  .projects-img img {
    width: 580px;
    height: 350px;
  }

  .projects-description {
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin: 10px;
  }

  .btn-container {
    margin: 20px;
  }

  #btn-back {
    color: #fff;
  }

  #btn-next {
    color: #fff;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-card {
    width: 390px;
    height: 520px;
    margin-top: 70px;
  }

  .profile-sinopse {
    margin: 0;
    width: 410px;
    margin-bottom: 15px;
  }
}
